footer {
    background: rgb(240, 240, 240);
    text-align: center;
    font-family: copperplate, sans-serif;

    height: 4rem;
    width: calc(100% - 4rem);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* position: relative; */
    /* bottom: 0; */
    /* width: 100%; */
    position: absolute;
    bottom: 0;
}

footer h2 {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: .4rem;
}

footer .socialMedia * {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
}

footer a {
    color: rgb(20, 133, 39);
    text-decoration: none;
}

footer .textImage {
    height: 1.5rem;
    vertical-align: bottom;
}