footer {
    display: none;
}

.managePatetosDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    margin-top: 2rem;
}

.yearDiv {
    background: grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 80%;
    padding: 1rem;
}

.yearTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;

    width: 100%;
    border-bottom: 2px solid #fff;
}
.peopleDiv {
    display: flex;
    flex-direction: column;
}

.personDiv {
    /* background: lightgrey; */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: .8rem;

    min-height: 3rem;
}

.personDiv input {
    width: 7rem;
}

.addPersonDiv {
    /* background: lightgrey; */
    margin-top: 2rem;
}

.addYearDiv {
    flex-direction: row;
    justify-content: space-evenly;
}