/* ------- PATETER ------- */

h2 {
    text-align: center;
}

.patetSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 5rem;
}

.patetDivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 5rem;
}

.patetDivContainer h3 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2rem;
    
    margin: 0;
    margin-bottom: 2rem;
}


.patetSliderDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 9rem;
}

.patetSlide {
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.person {
    font-size: 1rem;

    /* background: blue;     */

    max-width: min-content;
    height: 14rem;
    margin-top: 4rem;
}
.person:first-of-type {
    margin-top: 0;
}

.person h4 {
    font-family: "jacques francois shadow";
    font-weight: 400;
    font-size: 3rem;
    line-break:loose;

    margin: 0;
}

.person .personImage {
    width: 10.6rem;
    min-width: 10.6rem;
    height: 100%;
    object-fit: cover;  

    outline: 1px solid #000;
}

.infoImgDiv {
    display: flex;
    flex-direction: row;

    overflow: hidden;
    padding: .1rem; /* small space so that image outline is shown */
    height: 11.5rem;
}

.infoDiv {
    margin-left: 1rem;
}

.infoDiv p {
    margin: 0;
    min-width: 15.2rem;
    /* background: purple; */

}

.person .postP {
    width: 10.6rem;
    text-align: center;
    margin:0;
    margin-top: .5rem;
    font-family: "jacques francois shadow";
    font-size: 1.3rem;
}




@media screen and (max-width: 1000px){
    .patetSliderDiv {
        gap: 0;
        flex-direction: column;
    }
    .patetSlide {
        margin-top: 0 !important;
    }
}