@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Vast+Shadow&display=swap');
@import url(patetos.css);
@import url(posts.css);
@import url(footer.css);



body {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;

    padding: 0;
    margin: 0;
}

h1 {
    font-family: "jacques francois shadow";
    font-weight: 400;
}

h2 {
    margin: 0;
}

p {
    font-family: 'League Spartan', sans-serif;
}

header {
    background: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    /* width: 100vw; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header h1 {
    font-size: 4rem;
    font-weight: 400;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}


/*CASE SPECIFIC*/
header img {
    height: 8rem;
    margin-inline: 1rem;
}

/* ------- LOGIN ------- */

/* ------ OPTIONS MENU ------ */
.optionsMenu {
    /* background: rgb(103, 205, 92); */

    position: absolute;
    top: .5rem;
    right: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;

    width: auto;
    /* height: 5rem; */
    margin: 0;
}
.optionsMenu>* {
    background: darkslategray;
    color: #fff;

    padding: .4rem;
    border-radius: .1rem;
}

.optionsMenu>*:hover {
    background: rgb(22, 36, 36);
    cursor: pointer;
}

.popupWindow{
    background: rgb(237, 235, 235);

    position: fixed;
    top: calc(50% - 20vw/2);
    left: calc(50% - 30vw/2);

    height: 20vw;
    width: 30vw;
    min-height: 20rem;
    min-width: 30rem;

    outline: .4rem solid black;
    z-index: 1000;
}


#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closeButton {
    background: grey;
    background-image: url("../img/close.svg");
    background-size: cover;
    background-position: center; 

    position: absolute;
    top: 0;
    right: 0;

    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
    border-radius: 0 0 0 .3rem;
}

#loginDiv .loginForm {
    display: flex;
    flex-direction: column;
    gap:.5rem;
    width: max-content;
}

